<section class="section " id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">联系我们</h1>
              <div class="section-title-border margin-t-20"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="mt-4 pt-4">
                  <p class="mt-4"><span class="h5">公司地址:</span><br> <span class="text-muted d-block mt-2">630 W Duarte Rd. #305,<br> Arcadia, CA 91007</span></p>
                  <p class="mt-4"><span class="h5">办公时间:</span><br> <span class="text-muted d-block mt-2">9:00 AM - 6:00 PM</span></p>
                  <p class="mt-4"><span class="h5">联系电话:</span><br> <span class="text-muted d-block mt-2">1-626-362-2888</span></p>
                  <p class="mt-4"><span class="h5">电子邮件:</span><br> <span class="text-muted d-block mt-2">contact@easyfind8.com</span></p>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="custom-form mt-4 pt-4">
                  <div id="message"></div>
                  <form method="post" action="/" name="contact-form" id="contact-form">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <input name="name" id="name" type="text" class="form-control" placeholder="请输入您的姓名*" >
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <input name="email" id="email" type="email" class="form-control" placeholder="请输入您的电子邮件地址*" >
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <input type="text" class="form-control" id="subject" placeholder="请输入您的主题..." />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="请输入您的消息..."></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12 text-right">
                              <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="发送">
                              <div id="simple-msg"></div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
