<section class="section" id="testi">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">客户反馈</h1>
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-muted text-center font-secondary padding-t-30">客户的反馈一直是我们前进强有力的动力之一，我们一直致力于为客户提供更优质的服务</p>
          </div>
      </div>
      <div class="row margin-t-50">
          <div class="col-lg-4">
              <div class="testimonial-box hover-effect margin-t-30">
                  <img src="assets/images/testimonials/user-2.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                  <div class="testimonial-decs">
                      <p class="text-muted text-center mb-0">“本人康州留学生，毕业后在波士顿创业。巧合之下，得知Easyfind。在我创业的途中，他们给了我很多的帮助。是一家真正为留学生着想；为留学生服务的良心企业。”</p>
                  </div>
                  <h5 class="text-center text-uppercase padding-t-15">Qing Li - <span class="text-muted text-capitalize">Connecticut</span></h5>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="testimonial-box hover-effect margin-t-30">
                  <img src="assets/images/testimonials/user-1.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                  <div class="testimonial-decs">
                      <p class="text-muted text-center mb-0">“公司的客服也很nice，很负责，很耐心！” </p>
                  </div>
                  <h5 class="text-center text-uppercase padding-t-15">Zhennan Li - <span class="text-muted text-capitalize">Los Angeles</span></h5>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="testimonial-box hover-effect margin-t-30">
                  <img src="assets/images/testimonials/user-3.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                  <div class="testimonial-decs">
                      <p class="text-muted text-center mb-0">“是一个很好的良心企业！为留学生做事呢~不错不错” </p>
                  </div>
                  <h5 class="text-center text-uppercase padding-t-15">Darren Fan - <span class="text-muted text-capitalize">Los Angeles</span></h5>
              </div>
          </div>
      </div>
  </div>
</section>
