<section class="section bg-light" id="features" scrollSpyElement="about">
  <div class="container">
      <div class="row vertical-content">
          <div class="col-lg-5">
              <div class="features-box">
                  <h3 align="center">Easyfind Company 易咨范公司简介</h3>
                  <p class="text-muted web-desc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Easyfind Company 美国易咨范信誉生态科技有限公司（以下简称”易咨范”）是美国首家提供会员制的 留学生综合资讯服务平台。成立于2017年10月，以 “会员制” 的独特方式鼓励和吸引广大赴美深造的 世界各国留学生积极入驻平台，采用“学生”服务“留学生”的形式，提供从基本的生活、法律、教育、医疗和社会实践的辅助服务，到实习、就业、创业、移民、投资和金融等方面的资源对接 ，为同学们搭建了 各种便利及可靠的渠道！同时得到了中美两地和美属波多黎各的各级政府，以及各类社区组织、企业、文教机构，和民间团体的认可与支持，为美国的本土学生和世界各国的留学生提供了广阔的发展空间和资源、平台，引导同学们规划出自己的成功人生！</p>

                  <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light">了解更多<i class="mdi mdi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="features-img features-right text-right">
                  <img src="assets/images/us-flag.png" alt="macbook image" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>
