<section class="section section-lg bg-web-desc">
  <div class="bg-overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-white">今天就加入易咨范</h2>
              <p class="padding-t-15 home-desc">加入易咨范，让我们为您的留学之旅保驾护航</p>
              <a class="btn btn-custom margin-t-30 waves-effect waves-light" [ngx-scroll-to]="'#pricing'">现在加入</a>
          </div>
      </div>
  </div>
  <div class="bg-pattern-effect">
      <img src="assets/images/bg-pattern.png" alt="">
  </div>
</section>
