
<section class="section bg-home height-100vh" id="home">
 <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
  <div class="bg-overlay"></div>
  <div class="">
      <div class="">
          <div class="container slidero">
              <div class="row">
                  <div class="col-lg-8 offset-lg-2 text-white text-center">
                      <h1 class="home-title">Easy Find, Easy Life</h1>
                      <h3 class="padding-t-30">规划成功人生，简单留学生活</h3>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<app-about></app-about>
<app-services></app-services>
<app-description></app-description>
<app-pricing></app-pricing>
<app-team></app-team>
<app-testi></app-testi>
<app-blog></app-blog>
<app-contact></app-contact>
<app-social></app-social>
