
<section class="section"  id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">热门服务</h1>
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">易咨范主打热门服务，满足你在美国最基本需求</p>
          </div>
      </div>
      <div class="row margin-t-30">
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-hammer text-custom"></i>
                  <h4 class="padding-t-15">法律咨询</h4>
                  <p class="padding-t-15 text-muted">为中外客户提供全方位、多层次的法律解决方案</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-home text-custom"></i>
                  <h4 class="padding-t-15">租房买房</h4>
                  <p class="padding-t-15 text-muted">筑我所想，住我所爱；生活在此，理想在此</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-portfolio text-custom"></i>
                  <h4 class="padding-t-15">职业规划</h4>
                  <p class="padding-t-15 text-muted">满足学生对不同职业发展的需求，扩大机会</p>
              </div>
          </div>
      </div>
      <div class="row margin-t-30">
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-plane text-custom"></i>
                  <h4 class="padding-t-15">海外留学</h4>
                  <p class="padding-t-15 text-muted">为不同年龄段的孩子打造个性化留学方案</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-piggy text-custom"></i>
                  <h4 class="padding-t-15">金融服务</h4>
                  <p class="padding-t-15 text-muted">更专业更多发现，更敏锐更善理财</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-diamond text-custom"></i>
                  <h4 class="padding-t-15">品牌服务</h4>
                  <p class="padding-t-15 text-muted">创新铸就品牌，发展成就未来</p>
              </div>
          </div>
      </div>
  </div>
</section>
